/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
  /* Design */
  --font-design1: "Comfortaa", cursive;

  /* Header */
  --font-header1: "Quicksand", cursive;

  --font-text1: "Quicksand", cursive;

  /* Color */
  --color-dark1: #211f4f;
  --color-light1: #fff;
  --color-logo: #383484;

  /* Color for LP */
  --color-lp-bg1: #c6effb;
  /* --color-lp-bg2: #cbaeff; */
  --color-lp-bg2: #efe6ff;
}
